<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
     
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
      
      {% include nav.html %}
      
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      
    <!--
    <div class="container">
      <div class="h_iframe">
        <iframe  src="https://www.youtube.com/embed/9ADBM50LJ64" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
    -->
      
    <iframe src="https://itch.io/embed/647851" height="167" width="552" frameborder="0"><a href="https://comet91.itch.io/souls-of-the-damned">Souls of The Damned by Comet91</a></iframe>
      
    <iframe src="https://www.youtube.com/embed/9ADBM50LJ64" " width="1000" height="500">
    </iframe>
      
    <!-- style="width:100%;" -->
    
    <div class="gameimages">
      <img src="images/0001.jpg" alt="Game Image 0001">
      <img src="images/0002.jpg" alt="Game Image 0002">
      <img src="images/0003.jpg" alt="Game Image 0003">
      <img src="images/0004.jpg" alt="Game Image 0004">
      <img src="images/0005.jpg" alt="Game Image 0005">
      <img src="images/0006.jpg" alt="Game Image 0006">
      <img src="images/0007.jpg" alt="Game Image 0007">
    </div>
      

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>

  
